.header {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.nav {
  display: flex;
  gap: 2rem;
}

.link {
  text-transform: lowercase;
  font-size: 1rem;
}

.link:hover {
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .header {
    justify-content: center;
    align-items: center;
  }
}