.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.heading,
.subheading {
  text-align: center;
  margin: 0;
}

.heading {
  font-size: 5rem;
}

.subheading {
  font-size: 2rem;
}

.cards {
  display: flex;
  gap: 2rem;
  padding: 5rem;
}