.container,
.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  flex-direction: column;
  text-align: center;
}

.cardWrapper {
  gap: 2rem;
  flex-wrap: wrap;
}

.heading,
.subheading {
  text-align: center;
  margin: 0;
}

.heading {
  font-size: 5rem;
}

.subheading {
  font-size: 2rem;
}